# {{ ansible_managed }}

# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking
PIDFile={{ tomcat_catalina_home }}/work/catalina.pid
Environment=JAVA_HOME={{ tomcat_java_home }}
Environment=JRE_HOME={{ tomcat_jre_home }}
Environment=CATALINA_PID={{ tomcat_catalina_home }}/work/catalina.pid
Environment=CATALINA_HOME={{ tomcat_catalina_home }}
Environment=CATALINA_BASE={{ tomcat_catalina_home }}
{% if tomcat_systemd.ExecStartPre is defined and tomcat_systemd.ExecStartPre | length > 0 %}
{% for item in tomcat_systemd.ExecStartPre %}
ExecStartPre={{ item }}
{% endfor %}
{% endif %}
ExecStart={{ tomcat_catalina_home }}/bin/startup.sh
{% if tomcat_systemd.ExecStartPost is defined and tomcat_systemd.ExecStartPost | length > 0 %}
{% for item in tomcat_systemd.ExecStartPost %}
ExecStartPost={{ item }}
{% endfor %}
{% endif %}
ExecStop={{ tomcat_catalina_home }}/bin/shutdown.sh {{ tomcat_shutdown_wait | default(omit) }}
{% if tomcat_systemd.ExecStopPost is defined and tomcat_systemd.ExecStopPost | length > 0 %}
{% for item in tomcat_systemd.ExecStopPost %}
ExecStopPost={{ item }}
{% endfor %}
{% endif %}

User={{ tomcat_os_user[0].name }}
Group={{ tomcat_os_user[0].group }}
UMask=0027
RestartSec=15

[Install]
WantedBy=multi-user.target

# {{ ansible_managed }}
