---
# tasks file for tomcat

- name: Create tomcat group
  group:
    name: "{{ item.group | default(item.name) }}"
    state: "{{ item.state | default('present') }}"
  with_items: "{{ tomcat_user }}"

- name: Create tomcat user
  user:
    name: "{{ item.name | default('tomcat') }}"
    group: "{{ item.group | default(item.name) }}"
    shell: "{{ item.shell | default(omit) }}"
    comment: "{{ item.comment | default(omit) }}"
    createhome: "{{ item.createhome | default(omit) }}"
    home: "{{ item.home | default(omit) }}"
    state: "{{ item.state | default('present') }}"
  with_items: "{{ tomcat_user }}"

- name: Check if tomcat is already installed
  stat:
    path: "{{ tomcat_install_dir }}"
  register: tomcat_is_installed

- name: Ensure tomcat installation directory exists
  file:
    path: "{{ tomcat_install_dir }}"
    owner: "{{ item.name | default(omit) }}"
    group: "{{ item.group | default(omit) }}"
    state: directory
  when: tomcat_install_dir is defined
  with_items: "{{ tomcat_user }}"

- name: Download tomcat tarball
  get_url:
    url: "{{ tomcat_download_url }}"
    dest: /tmp
  when: not tomcat_is_installed.stat.exists

- name: Extract tomcat tarball
  unarchive:
    src: "/tmp/apache-tomcat-{{ tomcat_version }}.tar.gz"
    dest: "{{ tomcat_install_dir }}"
    owner: "{{ item.name | default(omit) }}"
    group: "{{ item.group | default(omit) }}"
    remote_src: yes
    extra_opts: "--strip-components=1"
  when: not tomcat_is_installed.stat.exists
  with_items: "{{ tomcat_user }}"

- name: Create symbolic link to tomcat installation directory
  file:
    src: "{{ tomcat_install_dir }}"
    dest: "{{ tomcat_install_link }}"
    state: link
  when: tomcat_install_link is defined

- name: Install java
  yum:
    name: "{{ item }}"
    state: present
  with_items: "{{ tomcat_java_packages }}"
