<?xml version="1.0" encoding="UTF-8"?>

<!-- {{ ansible_managed }} -->

<tomcat-users xmlns="http://tomcat.apache.org/xml"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://tomcat.apache.org/xml tomcat-users.xsd"
              version="1.0">

{% if tomcat_roles is defined and tomcat_roles | length > 0 %}
{% for item in tomcat_roles %}
  <role rolename="{{ item }}"/>
{% endfor %}
{% endif %}

{% if tomcat_console_users is defined and tomcat_console_users | length > 0 %}
{% for item in tomcat_console_users %}
  <user username="{{ item.name }}" password="{{ item.password }}" roles="{{ item.roles }}"/>
{% endfor %}
{% endif %}

</tomcat-users>

<!-- {{ ansible_managed }} -->
