<?xml version="1.0" encoding="UTF-8"?>

<!-- {{ ansible_managed }} -->

<Context antiResourceLocking="false" privileged="true" >
	<Valve className="org.apache.catalina.valves.RemoteAddrValve"
		allow="{{ tomcat_acl_allow }}" />
</Context>

<!-- {{ ansible_managed }} -->
